[core]
	editor = nvim
	fsmonitor = true
	pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  dark = true
[init]
	defaultBranch = main
[merge]
	conflictstyle = zdiff3
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[diff]
	algorithm = histogram
	submodule = log
[status]
	submoduleSummary = true
[submodule]
	recurse = true
[branch]
	sort = -committerdate
[user]
	email = horiondreher@gmail.com
	name = Horion Dreher
